/*Adjusted ITS-Callouts*/
.callout.callout.callout {
  --callout-blue: 82, 139, 212;
  --callout-green: 86, 179, 117;
  --callout-orange: 230, 129, 63;
  --callout-red: 193, 67, 67;
  --callout-purple: 153, 97, 218;
  --callout-gray: 166, 189, 197;
  --callout-yellow: 208, 181, 48;
  --callout-pink: 227, 107, 167;
  box-shadow: none;
  border: 2px solid var(--hr, var(--background-modifier-border));;
}

/*Infobox*/
:is(.is-mobile,
.is-mobile .is-live-preview,
.is-live-preview) .callout[data-callout~=infobox]:not([data-callout-metadata~=mobile]) {
  float: unset !important;
  max-width: 100%;
  margin: 0 !important;
  width: auto;
  box-shadow: none;
}

.callout[data-callout~=infobox] {
  --callout-color: var(--interactive-accent-rgb);
  background: var(--note, var(--background-primary));
  border: 0;
  box-shadow: none;
  margin: 0;
  margin-left: 8px;
  width: auto;
  max-width: 20vw;
  float: right;
}
.callout[data-callout~=infobox] .callout-title {
  padding: 0;
  justify-content: center;
}
.callout[data-callout~=infobox].is-collapsed .callout-fold {
  border: 1px solid var(--hr, var(--background-modifier-border));
  padding: 5px 10px;
}
.callout[data-callout~=infobox] .callout-title :is(.callout-icon, .callout-title-inner) {
  display: none;
}
.callout[data-callout~=infobox]:not(:hover):not(.is-collapsed) .callout-title {
  background-color: transparent;
}
.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]):not(:hover):not(.is-collapsed) > .callout-title {
  display: flex;
  gap: 0;
}
.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]).is-collapsed .callout-title {
  border: 1px solid var(--hr, var(--background-modifier-border));
  display: flex;
}
.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-fold, .callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-title .callout-title-inner {
  display: unset;
  align-items: center;
  align-content: center;
  padding: 5px 10px;
}
.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-fold {
  padding: unset;
  margin-top: auto;
  margin-bottom: auto;
}
.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]).is-collapsed .callout-fold {
  border: 0;
}
.callout[data-callout~=infobox] .callout-content {
  padding: 5px;
  border: 0;
  margin: 0;
  border-radius: var(--radius, var(--co-radius));
}
.callout[data-callout~=infobox] table {
  width: 100%;
}
.callout[data-callout~=infobox] table td {
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal;
}
.callout[data-callout~=infobox] :is(p, table) {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
.callout[data-callout~=infobox] :is(h1, h2, h3, h4, h5, h6) {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 2px;
  color: var(--text-normal);
  background: var(--outer-bar, var(--background-secondary));
}
.callout[data-callout~=infobox] p, .callout[data-callout~=infobox] .internal-embed, .callout[data-callout~=infobox] img {
  margin: auto;
  padding: auto;
  text-align: center;
}
.callout[data-callout~=infobox][data-callout-metadata][data-callout-metadata][data-callout-metadata~=left] {
  margin-right: 25px;
}

/* Asides */
.callout[data-callout~=aside] {
  --callout-icon: message-square;
  --callout-color: "";
  background-color: var(--aside-bg, var(--background-secondary));
  box-shadow: none;
  float: right;
  position: relative;
  margin: 0;
  margin-right: -1.2em;
  margin-left: 5px;
  max-width: 400px;
}
.callout[data-callout~=aside]:not([data-callout-metadata~=no-t]) .callout-content {
  padding: 5px 10px;
}
.callout[data-callout~=aside]:not([data-callout-metadata~=no-t]) .callout-content p:first-child {
  margin-top: 0;
}
.callout[data-callout~=aside]:not([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-title-inner {
  display: none;
}
.callout[data-callout~=aside]:not([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-title {
  justify-content: space-between;
}
.callout[data-callout~=aside].is-collapsed {
  background-color: transparent;
  box-shadow: none;
}
.callout[data-callout~=aside].is-collapsed .callout-title-inner {
  display: none;
}
.callout[data-callout~=aside].is-collapsed .callout-title {
  justify-content: space-between;
  padding: 0;
}
.callout[data-callout~=aside].is-collapsed .callout-fold {
  margin: 0;
  padding: 0;
  margin-left: -25px;
  visibility: hidden;
}

.callout[data-callout~=aside][data-callout-metadata~=clean] {
  background: transparent;
  box-shadow: none;
}

.callout[data-callout~=aside][data-callout-metadata~=tufte] {
  background: transparent;
  box-shadow: none;
  float: right;
  position: relative;
}
.callout[data-callout~=aside][data-callout-metadata~=tufte]:not(.is-collapsed) {
  width: 400px;
  margin-right: -25.3em;
}
.callout[data-callout~=aside][data-callout-metadata~=tufte] .callout-title {
  padding-top: 0;
}
.callout[data-callout~=aside][data-callout-metadata~=tufte].is-collapsed .callout-title {
  justify-content: unset;
}
.callout[data-callout~=aside][data-callout-metadata~=tufte].is-collapsed .callout-content {
  display: none;
}

.is-live-preview .callout[data-callout~=aside] {
  float: unset;
}

.callout.callout.callout[data-callout~=aside]:is([data-callout-metadata~=left], [data-callout-metadata~="p+l"]) {
  margin-left: -1.6em;
}
.callout.callout.callout[data-callout~=aside]:is([data-callout-metadata~=left], [data-callout-metadata~="p+l"]):not(.is-collapsed) {
  margin-right: 10px;
}
.callout.callout.callout[data-callout~=aside]:is([data-callout-metadata~=left], [data-callout-metadata~="p+l"])[data-callout-metadata~=tufte]:not(.is-collapsed) {
  margin: unset;
  margin-left: -25em !important;
}
.callout.callout.callout[data-callout~=aside]:is([data-callout-metadata~=left], [data-callout-metadata~="p+l"])[data-callout-metadata~=tufte]:not(.is-collapsed) .callout-title {
  padding-top: 5px;
  flex-direction: row-reverse;
}

/*Custom Callouts*/
.callout[data-callout="homefirst"] {
    --callout-color: 4, 127, 95;
    --callout-icon: lucide-tally-1;
}

.callout[data-callout="homesecond"] {
    --callout-color: 41, 175, 140;
    --callout-icon: lucide-tally-2;
}

.callout[data-callout="homethird"] {
    --callout-color: 44, 209, 166;
    --callout-icon: lucide-tally-3;
}

.callout[data-callout="data"] {
    --callout-color: 184, 35, 21;
    --callout-icon: lucide-database;
}

.callout[data-callout="sessions"] {
    --callout-color: 0, 100, 158;
    --callout-icon: lucide-book-marked;
}

.callout[data-callout="persons"] {
    --callout-color: 153, 108, 30;
    --callout-icon: lucide-circle-user-round;
}

.callout[data-callout="campaign"] {
    --callout-color: 104, 51, 92;
    --callout-icon: lucide-compass;
}
